### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_count=len(school_data_complete["school_name"].unique())
school_count

15

In [6]:
student_count=school_data_complete["Student ID"].count()
student_count

39170

In [7]:
total_budget=school_data["budget"].unique().sum()
total_budget

24649428

In [8]:
average_math_score=school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
average_reading_score=school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
passing_math_count=school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
passing_math_count

29370

In [11]:
passing_reading_count=school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_count

33610

In [12]:
overall_passing_count=school_data_complete[(school_data_complete["reading_score"]>=70)&(school_data_complete["math_score"]>=70)].count()["student_name"]
overall_passing_count

25528

In [13]:
district_summary_data_df = pd.DataFrame({"Total Schools": [school_count],
                               "Total Budget": [total_budget],
                              "Total Students": [student_count],
                              "Average Math Score": [average_math_score],
                              "Average Reading Score": [average_reading_score],
                              "% Passing Math": [passing_math_count],
                              "% Passing Reading": [passing_reading_count],
                              "% Overall Passing": [overall_passing_count]})
district_summary_data_df

,Total Schools,Total Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,24649428,39170,78.985371,81.87784,29370,33610,25528

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
sorted_school_df = school_data_complete.sort_values("school_name")
sorted_school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

In [15]:
school_group=sorted_school_df.groupby("school_name")
total_students=school_group["Student ID"].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [16]:
sorted_school_df ["Total Students"] = sorted_school_df ["size"]

In [17]:
avg_reading_score=school_group["reading_score"].mean()
avg_math_score=school_group["math_score"].mean()
avg_reading_score, avg_math_score

(school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64,
 school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64)

In [18]:
sorted_school_df ["Budget Per Student"] = sorted_school_df["budget"]/sorted_school_df["size"]
sorted_school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Students,Budget Per Student
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928,4976,628.0
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928,4976,628.0
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928,4976,628.0
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928,4976,628.0
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928,4976,628.0

In [19]:
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)

# school_budget=sorted_school_df.groupby("school_name")["budget"]
# per_student_budget = school_budget/total_students
# per_student_budget
# school_budget = sorted_school_df["budget"]/sorted_school_df.groupby("school_name")
# school_budget
# sorted_school_df["budget"].dtype
# passing_math_count_schools=sorted_school_df.groupby("school_name")[(sorted_school_df["math_score"]>=70)].count()["student_name"]
# passing_math_count_schools
# passing_math_count_schools=(sorted_school_df("school_name")["math_score"]>=70).count()
# passing_math_count_schools
# over_70_math=sorted_school_df["math_score">=70].count()
# over_70_math = sorted_school_df.loc[sorted_school_df["math_score"] >= "70", :]
# over_70_math.head()
# math_percent_mark_mask=school_group(sorted_school_df["math_score"]>=70)
# math_percent_mark_mask

In [20]:
school_comparison_df = school_group.mean()
school_comparison_df=school_comparison_df.rename(columns={"school_name": "School Name", "type":"School Type" "reading_score": "Avg Reading Score", "math_score":"Avg Math Score",
                                                                                "budget":"Total Budget", "size": "Total Students"})
school_comparison_df

,Student ID,Avg Reading Score,Avg Math Score,School ID,Total Students,Total Budget,Total Students,Budget Per Student
school_name,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,4976.0,628.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,1858.0,582.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,2949.0,639.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,2739.0,644.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,1468.0,625.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,4635.0,652.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0,427.0,581.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,2917.0,655.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,4761.0,650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0,962.0,609.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,3999.0,637.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,1761.0,600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,1635.0,638.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,2283.0,578.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,1800.0,583.0

In [48]:
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] > 70,:].groupby("school_name")
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] > 70,:].groupby("school_name")
math_percent= students_passing_math['Student ID'].count()/total_students*100
reading_percent= students_passing_reading['Student ID'].count()/total_students*100
overall_percent=(math_percent+reading_percent)/2
overall_percent

school_name
Bailey High School       71.965434
Cabrera High School      91.711518
Figueroa High School     71.091896
Ford High School         71.631982
Griffin High School      91.553134
Hernandez High School    71.467098
Holden High School       91.686183
Huang High School        71.066164
Johnson High School      71.067003
Pena High School         91.943867
Rodriguez High School    70.905226
Shelton High School      91.254969
Thomas High School       91.559633
Wilson High School       92.093736
Wright High School       91.861111
Name: Student ID, dtype: float64

In [53]:
school_comparison_df=sorted_school_df.rename(columns={"school_name":"School Name", "type":"School Type" "reading_score":"Avg Reading Score", "math_score":"Avg Math Score",
                                                                                "budget":"Total Budget", "size":"Total Students"})

SyntaxError: invalid syntax (<ipython-input-53-d499ffafa369>, line 1)

In [54]:
school_comparison_df = pd.DataFrame({"School Name": "school_name",
                               "School Type":"type",
                               "Total Budget": "budget",
                              "Total Students": total_students,
                              "Average Math Score": [average_math_score],
                              "Average Reading Score": [average_reading_score],
                              "% Passing Math": [passing_math_count],
                              "% Passing Reading": [passing_reading_count],
                              "% Overall Passing": [overall_passing_count]})
district_summary_data_df

ValueError: array length 1 does not match index length 15

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type