### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [66]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [67]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [68]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [69]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [70]:
school_count=len(school_data_complete["school_name"].unique())
school_count

15

In [71]:
student_count=school_data_complete["Student ID"].count()
student_count

39170

In [72]:
total_budget=school_data["budget"].sum()
total_budget

24649428

In [73]:
average_math_score=school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [74]:
average_reading_score=school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [75]:
passing_math_count=school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
passing_math_percent=passing_math_count/student_count*100
passing_math_percent

74.9808526933878

In [133]:
passing_reading_count=school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percent=passing_reading_count/student_count*100
passing_reading_percent

numpy.float64

In [77]:
overall_passing_count=school_data_complete[(school_data_complete["reading_score"]>=70)&(school_data_complete["math_score"]>=70)].count()["student_name"]
overall_passing_percent=overall_passing_count/student_count*100
overall_passing_percent

65.17232575950983

In [78]:
district_summary_data_df = pd.DataFrame({"Total Schools": [school_count],
                                         "Total Students": [student_count],
                               "Total Budget": [total_budget],
                              "Average Math Score": [average_math_score],
                              "Average Reading Score": [average_reading_score],
                              "% Passing Math": [passing_math_percent],
                              "% Passing Reading": [passing_reading_percent],
                              "% Overall Passing": [overall_passing_percent]})
district_summary_data_df["Total Students"]=district_summary_data_df["Total Students"].map("{:,}".format)
district_summary_data_df["Total Budget"]=district_summary_data_df["Total Budget"].map("${:,.2f}".format)
district_summary_data_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [150]:
school_group=sorted_school_df.groupby("school_name")
total_students_per_school=school_data_complete["school_name"].value_counts()
total_students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [151]:
avg_reading_score_per_school=school_group["reading_score"].mean()
avg_math_score_per_school=school_group["math_score"].mean()
avg_reading_score_per_school, avg_math_score_per_school

(school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64,
 school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64)

In [152]:
# school_name=school_data.school_name
# school_name

In [153]:
school_type=school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [154]:
budget_per_school=school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [155]:
budget_per_student = budget_per_school/total_students
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [156]:
math_per_school=school_data_complete[(school_data_complete["math_score"] >= 70)] 
math_per_school.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [157]:
percent_math_per_school=math_per_school.groupby(["school_name"]).count()["student_name"]/total_students*100
percent_math_per_school

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [158]:
reading_per_school=school_data_complete[(school_data_complete["reading_score"] >= 70)] 
reading_per_school.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [159]:
percent_reading_per_school=math_per_school.groupby(["school_name"]).count()["student_name"]/total_students*100
percent_reading_per_school

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [160]:
passing_math_and_reading_score=school_data_complete[(school_data_complete["reading_score"] >= 70)
                                                   & (school_data_complete["math_score"] >= 70)]
overall_passing_rate_per_school=passing_math_and_reading_score.groupby(["school_name"]).count()["student_name"] / total_students*100
overall_passing_rate_per_school

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [161]:
# renamed_school_name_index_df=school_name_index_df.rename(columns={"type":"School Type", "size": "Total Students", "budget":"Total School Budget"})
# renamed_school_name_index_df= renamed_school_name_index_df[["School Type", "Total Students", "Total School Budget"]]
# renamed_school_name_index_df

                      School Type  Total Students  Total School Budget
school_name
Huang High School        District            2917              1910635
Figueroa High School     District            2949              1884411
Shelton High School       Charter            1761              1056600
Hernandez High School    District            4635              3022020
Griffin High School       Charter            1468               917500
Wilson High School        Charter            2283              1319574
Cabrera High School       Charter            1858              1081356
Bailey High School       District            4976              3124928
Holden High School        Charter             427               248087
Pena High School          Charter             962               585858
Wright High School        Charter            1800              1049400
Rodriguez High School    District            3999              2547363
Johnson High School      District            4761              3094650
Ford High School         District            2739              1763916
Thomas High School        Charter            1635              1043130

In [167]:
school_summary_df = pd.DataFrame({"School Type": [school_type],
                                "Total Students": [total_students_per_school],
                               "Total Budget": [budget_per_school],
                               "Per Student Budget": [budget_per_student],
                              "Average Math Score": [avg_math_score_per_school],
                              "Average Reading Score": [avg_reading_score_per_school],
                              "% Passing Math": [percent_math_per_school],
                              "% Passing Reading": [percent_reading_per_school],
                              "% Overall Passing": [overall_passing_rate_per_school]})

school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 54.642283 Cabrera Hig...

In [ ]:
"School Name": [school_name],
"School Type": [school_type],

district_summary_data_df["Total Students"]=district_summary_data_df["Total Students"].map("{:,}".format)
district_summary_data_df["Total Budget"]=district_summary_data_df["Total Budget"].map("${:,.2f}".format)
school_type=school_data.set_index(["school_name"])["type"]
school_type

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_schools=school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

In [ ]:
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)

# school_budget=sorted_school_df.groupby("school_name")["budget"]
# per_student_budget = school_budget/total_students
# per_student_budget
# school_budget = sorted_school_df["budget"]/sorted_school_df.groupby("school_name")
# school_budget
# sorted_school_df["budget"].dtype
# passing_math_count_schools=sorted_school_df.groupby("school_name")[(sorted_school_df["math_score"]>=70)].count()["student_name"]
# passing_math_count_schools
# passing_math_count_schools=(sorted_school_df("school_name")["math_score"]>=70).count()
# passing_math_count_schools
# over_70_math=sorted_school_df["math_score">=70].count()
# over_70_math = sorted_school_df.loc[sorted_school_df["math_score"] >= "70", :]
# over_70_math.head()
# math_percent_mark_mask=school_group(sorted_school_df["math_score"]>=70)
# math_percent_mark_mask
# students_passing_math = school_data_complete.loc[school_data_complete["math_score"] > 70,:].groupby("school_name")
# students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] > 70,:].groupby("school_name")

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type